body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: aqua;
}

.quem-somos {
    padding-top: 20px;
    background-color: #8181f7;
    color: #585858;
}

.margin {
    padding-bottom: 50px;
    padding-top: 20px;
}

.parceiros {
    background-color: aqua;
    color: #585858;
}

.servicos {
    color: #585858;
}

.bg-footer {
    background-color: black;
    color: #585858;
}